{% extends "layout.twig" %}


{% block head %}

{% endblock %}

{% block body %}

    {% embed 'embed/app-content.twig' %}
        {% block content_body %}

                <div class="card-body text-center">
                    <h3>This page is under maintenance</h3>
                    <p>We're sorry for the inconvenience.
                        <br> Please check back later.</p>
                    <div class="mt-2"><i class="fa fa-cog spinner font-large-2"></i></div>
                </div>
                <hr>
                <p class="socialIcon card-text text-center pt-2 pb-2">
                    <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-primary">
                        <span class="fa fa-wechat"></span>
                    </a>
                    <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin">
                        <span class="fa fa-linkedin font-medium-4"></span>
                    </a>

                </p>

        {% endblock %}
    {% endembed %}

    {#{% block footer %}{% endblock %}#}

{% endblock %}

{% block js %}
    <script>
        let nav_bar_main = document.getElementById('nav-bar-main');
        nav_bar_main.remove();
    </script>
{% endblock %}