{% extends "layout.twig" %}


{% block head %}{% endblock %}

{% block body %}
    {% embed 'embed/app-content.twig' %}
        {% block content_body %}
            {% embed 'embed/error.twig' %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block js %}
{% endblock %}