{% extends "layout.twig" %}

{% block head %}{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' with {"class": "content-body"} %}
        {% block content_body %}
            <section>
                <div class="row match-height pt-2">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" style="">
                            <div class="card-content">
                                <div class="card-body">
                                    <img class="img-fluid" src="/content/themes/stack/app-assets/images/logo/WeChat-Image.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row match-height">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" style="">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="https://mp.weixin.qq.com/s/dvy3JJCkZPmEhIAbLs_Vdg" target="_self">欢迎来销售俄罗斯优质天然产品的Бахетле超市</a></h4>
                                    {#<h6 class="card-subtitle text-muted">Support card subtitle</h6>#}
                                </div>
                                <div class="card-body p-0">
                                    <img class="img-fluid" src="https://mmbiz.qpic.cn/mmbiz_png/M7JmpfWLoPzsWnOBx9nMhVoiaE0HQtM80BOLibGR5sLiauuW2bQMsdicEP67HAuy3icj67iaBSJbricMoX2GicSKyg0A6Q/640?wx_fmt=png&tp=webp&wxfrom=5&wx_lazy=1&wx_co=1" alt="">
                                </div>

                                <div class="card-body">
                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">您可以从俄罗斯为亲朋带去多种健康礼品- 天然蜂蜜、坚果、最美味的巧克力、泉水酿造的伏特加、黑鱼子酱、红鱼子酱、天然化妆品以及各式各样的纪念品。 <a href="https://mp.weixin.qq.com/s/dvy3JJCkZPmEhIAbLs_Vdg" target="_self">...</a></span></span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row match-height">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" style="">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title">轩尼诗V.S.O.P 特酿</h4>
                                    {#<h6 class="card-subtitle text-muted">Support card subtitle</h6>#}
                                </div>
                                <div class="card-body p-0">
                                    <img class="img-fluid" src="/content/images/news/VSOP-GB_high.width-1920x-prop.jpg" alt="">
                                </div>

                                <div class="card-body">
                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">自1817年起轩尼诗V.S.O.P就享誉世界。 </span></span></span></p>

                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">1817年10月英国王储乔治四世向轩尼诗定制了一款色泽明亮的优质陈年干邑白兰地（Very Superior Old Pale），这款高品质的白兰地后来风靡世界。</span></span></span></p>

                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">2019年2月5日中国春节之际轩尼诗推出限量典藏精品干邑白兰地，瓶身和包装由新锐艺术家张广宇与品牌携手合作创造，他的设计体现了中西文化的结合，既有白兰地的传统剪影，又有中国吉祥物-灯笼、丹顶鹤等，其中还有19年的象征-金猪。 </span></span></span></p>

                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">轩尼诗V.S.O.P： ﹒60多瓶干邑白兰地在老酒桶中长期酿制（长达15年），其中部分单宁已失 </span></span></span></p>

                                    <ul>
                                        <li><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">香料、干果和蔗糖的香味 </span></span></span></li>
                                        <li><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">能品出香草、烟草和香料的味道且回味无穷 </span></span></span></li>
                                        <li><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">悠长的回味体现了自然的平衡 既可以餐后饮用又可以加冰做开胃酒 </span></span></span></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row match-height">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" style="">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title">轩尼诗X.O</h4>
                                    {#<h6 class="card-subtitle text-muted">Support card subtitle</h6>#}
                                </div>

                                <div class="card-body p-0">
                                    <img class="img-fluid" src="/content/images/news/XO.png" alt="">
                                </div>
                                <div class="card-body">
                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">轩尼诗旗舰产品</span><br/>
                                <span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">无论是在俄罗斯还是全世界轩尼诗X.O都是白兰地中的佼佼者。</span></span></span></p>

                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">1870年莫利斯﹒轩尼诗为了家人和朋友创造了X.O，由各种老干邑组成-这就是今天的X.O白兰地 </span><br/>
                                <span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">为了庆祝中国春节，轩尼诗于2019年2月5-19日期间推出限量典藏版X.O干邑白兰地，瓶身和包装由新锐艺术家张广宇与品牌携手合作创造，他的设计体现了中西文化的结合，既有白兰地的传统剪影，又有中国吉祥物-灯笼、丹顶鹤等，其中还有19年的象征-金猪。 轩尼诗X.O:</span><br/>
                                            <span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">﹒1870年莫利斯为家人和朋友创造的老干邑的组合 </span></span></span></p>

                                    <ul>
                                        <li><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">﹒由百种12-35年的白兰地陈酿放入新的橡木桶中封存 </span></span></span></li>
                                        <li><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">﹒和谐、勇敢和慷慨的组合 </span></span></span></li>
                                        <li><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">﹒混合着优质橡木和和胡椒的强烈浓香 </span></span></span></li>
                                    </ul>

                                    <p><br/>
                                        <span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">轩尼诗X.O最好放冰饮用。</span></span></span><br/>
                                        <br/>
                                        <br/> &nbsp;</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row match-height">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" style="">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title">雪树伏特加</h4>
                                    {#<h6 class="card-subtitle text-muted">Support card subtitle</h6>#}
                                </div>
                                <div class="card-body p-0">
                                    <img class="img-fluid" src="/content/images/news/Belve_Bottle_Pure_INTL_HR_high2.png" alt="">
                                </div>
                                <div class="card-body">
                                    <p><span style="color:#333333"><span style="font-size:16px"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">雪树伏特加是裸麦伏特加中的极品。</span><br/>
<br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">雪树伏特加是为懂得区分不同品味和生活差异的人而备，和数百年前一样，雪树伏特加还是手工酿造，产量也不大。 </span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">雪树伏特加的瓶子极具特色，磨砂玻璃，瓶身高且细长，瓶身上印着波兰总统府，瓶身背面透明的窗户有放大的效果。 </span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">雪树伏特加:</span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">&bull; 是电影007《幽灵党 》中詹姆斯&bull;邦德最爱的伏特加-马提尼鸡尾酒的专用伏特加，&ldquo;晃动但不搅拌&rdquo;;</span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">&bull; 金色裸麦伏特加酒的水源自自家的自流井，井水使伏特加口感绵柔，并保证伏特加在蒸馏过程中用最短的时间去除杂质;</span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">&bull; 四次蒸馏萃取;</span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">&bull; 香草的清香夹杂着黑麦面包和淡奶油的味道;</span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">&bull; 绵柔丝滑口感有着淡淡的黑胡椒和杏仁味道;</span><br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">&bull; 酒精度 40%.</span><br/>
<br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">雪树伏特加适合做短饮和长饮鸡尾酒，与俄餐和西餐是完美搭配。 </span><br/>
<br/>
<span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">*雪树 &mdash; 是007电影 &laquo;幽灵党&raquo;的合作方之一</span><br/>
<a href="http://style.rbc.ru/view/571f2fba9a79473d66b8380c"><span style="background-color:rgb(255, 255, 255); font-family:roboto,robotodraft,helvetica,arial,sans-serif">http://style.rbc.ru/view/571f2fba9a79473d66b8380c</span></a></span></span></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}

{% endblock %}






