{% extends "layout.twig" %}


{% block head %}{% endblock %}

{% block body %}

    {#  Категории  #}
    <div id="vm_category" v-pre class="navbar-top clarity" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div v-for="item in category" v-bind:data-category_id="item.id" v-bind:data-parent_id="item.parent_id" v-on:click="navigate(item.id, item.parent_id)" v-text="item.title"></div>
    </div>


    {% embed 'embed/app-content.twig' %}
        {% set class = 'content-body pt-5' %}
        {% block content_body %}
            <div id="vm_catalog" v-pre xmlns:v-on="http://www.w3.org/1999/xhtml">

                <product-item

                    v-for="(item, key) in products"
                    v-bind:key="key"
                    v-bind:name="key"
                    v-bind:id="item.id"
                    v-bind:title="item.title"
                    v-bind:image="item.image"
                    v-bind:description="item.description"
                    v-bind:price="item.price"
                    v-bind:old_price="item.old_price"

                    v-on:add_to_cart="addToCart(item.id)"
                >
                </product-item>

            </div>
        {% endblock %}
    {% endembed %}



{% endblock %}


{% block js %}
    <script src="/content/themes/stack/assets/js/customized/catalog.product.js?{{ random() }}" type="text/javascript"></script>
{% endblock %}