<div class="app-content container center-layout mb-5">
    <div class="content-wrapper">
        <div class="content-header row">
            {#<div class="content-header-left col-md-6 col-12 mb-2">#}
                {#{% block content_header_left %}#}

                {#{% endblock %}#}
            {#</div>#}
            {#<div class="content-header-right col-md-6 col-12">#}
                {#{% block content_header_right %}#}

                {#{% endblock %}#}
            {#</div>#}


        </div>
        <div class="{{ class ? class : 'content-body' }}">
            {% block content_body %}

            {% endblock %}
        </div>
    </div>
</div>