<nav id="nav-bar-main" class="{{ class ? class: 'navbar navbar-light fixed-bottom box-shadow-1 white text-center' }} clarity" style="display: inherit; background-color: #131d36">
    {% block navbar_bottom %}
        <a id="navbar-home" href="/home" class="btn white bg-transparent mr-auto" data-target="button-target">
            <i class="fa fa-home white font-large-1"></i></a>
        <a id="navbar-catalog" href="/catalog" class="btn white bg-transparent mr-auto" data-target="button-target"><i class="fa fa-list white font-large-1"></i></a>
        <a id="navbar-cart" href="/page/cart.checkout" class="btn white bg-transparent mr-auto" data-target="button-target">
            <i class="fa fa-shopping-cart white font-large-1"></i>
            <span class="badge badge-danger" style="top: 15px; margin-left: -10px; position: absolute" v-text="cart_count"></span>
        </a>
        <a id="navbar-favorit" href="#" class="btn white bg-transparent mr-auto" data-target="button-target" disabled=""><i class="fa fa-star white font-large-1"></i></a>
        <a id="navbar-profile" href="/profile" class="btn effect-zoe white bg-transparent mr-auto " data-target="button-target"><i class="fa fa-user white font-large-1"></i></a>
    {% endblock %}
</nav>
