{% extends "layout.twig" %}

{% block head %}{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' with {"class": "content-body p-0"} %}
        {% block content_body %}
            <div class="col-12 p-0">
                <div class="card box-shadow-0 bg-transparent">
                    <div class="text-center">
                        <div class="card-body">
                            <img src="{{ profile.image }}" class="rounded-circle  height-100" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ profile.nickname }}</h4>
                            <h6 class="card-subtitle text-muted"></h6>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div id="user-profile-list-group" class="list-group font-medium-2">
                        <a href="/profile.orders" class="list-group-item list-group-item-action black" style="padding: 0.55rem 0.95rem; margin-bottom: 4px;">
                        <span class="float-right blue">
                          <i class="fa fa-list-alt"></i>
                        </span>
                            {{ translate('profile', 'my_orders') }}
                        </a>
                        <a class="list-group-item list-group-item-action black" style="padding: 0.55rem 0.95rem; margin-bottom: 4px;">
                        <span class="float-right turquoise">
                          <i class="fa fa-bell-o"></i>
                        </span>
                            {{ translate('profile', 'notification') }}
                        </a>

                        <a href="/account/setting" target="_self" class="list-group-item list-group-item-action black" style="padding: 0.55rem 0.95rem; margin-bottom: 4px;">
                        <span class="float-right blue">
                          <i class="fa fa-cog"></i>
                        </span>
                            {{ translate('profile', 'settings') }}
                        </a>

                        <a class="list-group-item list-group-item-action black" style="padding: 0.55rem 0.95rem; margin-bottom: 4px;">
                        <span class="float-right danger">
                          <i class="fa fa-bug"></i>
                        </span>
                            {{ translate('profile', 'report_an_error') }}
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}

{% endblock %}






