{% extends "layout.twig" %}

{% block head %}{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' with {"class": "content-body p-0"} %}
        {% block content_body %}
            <div class="col-12 p-0">
                <div class="card box-shadow-0 bg-transparent">
                    <div class="text-center">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="setting-language" class="float-left">Язык</label>
                                <select id="setting-language" class="form-control">
                                    {% for item in language %}
                                        <option value="{{ item.postfix }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}
    <script src="/content/themes/stack/assets/js/customized/account.setting.js" type="text/javascript"></script>
{% endblock %}






