{% extends "layout.twig" %}

{% block head %}{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' with {"class": "content-body"} %}
        {% block content_body %}
            <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">
                    <div class="card-title text-center">
                        <h1>Russia in touch</h1>
                    </div>
                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                        <span>登錄超級系統</span>
                    </h6>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form-horizontal form-simple" action="index.html" novalidate="">
                            <button id="WeChat-sig-in" type="button" class="btn btn-danger btn-lg btn-block"><i class="fa fa-wechat"></i> 登入</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="">
                        <p class="float-sm-left text-center m-0"><a href="#" class="card-link">Есть вопросы?</a></p>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'embed/navbar-bottom.twig' with {'class': 'd-none'} %}
        {% block navbar_bottom %}
            {{ parent() }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}
    <script>
        $('#WeChat-sig-in').on('click', function () {
            location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3965d6a7bac6992a&redirect_uri=${location.origin}/method/WeChatCallback&response_type=code&scope=snsapi_userinfo&state=wechat`;
        });
    </script>
{% endblock %}






