{% extends "layout.twig" %}

{% block head %}
{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' with {"class": "content-body pt-3"} %}
        {% block content_body %}

            <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">
                    <div class="card-title text-center">
                        <img class="img-fluid" src="/content/assets/logo/WeChat-Image.jpg" alt="Bahetle">
                    </div>
                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                        <span>{{ translate('main', 'authorization_method') }}</span>
                    </h6>
                </div>
                <div class="card-content">
                    <div class="card-body text-center">
                        <a id="phone" href="#" class="btn btn-social mb-1 mr-1 btn-outline-facebook">
                            <span class="fa fa-phone"></span>
                            <span class="px-1">{{ translate('main', 'mobile') }}</span>
                        </a>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="">
                        {#<p class="float-sm-left text-center m-0"><a href="#" class="card-link">Есть вопросы?</a></p>#}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}

    <script src="/content/assets/node_modules/js-base64/base64.js"></script>
    <script src="/content/themes/stack/app-assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="/content/themes/stack/assets/js/customized/sign-up-mobile.js"></script>

{% endblock %}
