{% extends "layout.twig" %}

{% block head %}{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' with {"class": "content-body p-0"} %}
        {% block content_body %}

            {% if orders is empty %}
                <section class="flexbox-container" id="no-checkout" style="height: 69vh;">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 p-0">
                            <div class="card-header bg-transparent border-0">
                                <h3 class="text-uppercase text-center">{{ translate('profile', 'orders_empty') }}</h3>
                            </div>
                        </div>
                    </div>
                </section>
            {% else %}
                <div class="col-12 p-0">
                    <div class="card box-shadow-0 bg-transparent">
                        <style>
                            .turquoise {
                                color: #00b5b8 !important;
                            }
                        </style>
                        <div id="user-profile-list-group" class="list-group font-medium-2">
                            {% for item in orders %}
                                <a class="list-group-item list-group-item-action black" style="padding: 0.55rem 0.95rem; margin-bottom: 4px;">
                            <span class="float-right danger">
                                {{ item.amount }}
                            </span>
                                    #{{ item.id }}
                                    <small class="ml-2 turquoise">{{ item.status }}</small>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}


        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}

{% endblock %}






