
.clarity {
    opacity:0.8;
    filter:alpha(opacity=50);
}

.clarity:hover {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity:1;
    filter:alpha(opacity=100);
}