{% extends "layout.twig" %}

{% block head %}{% endblock %}

{% block body %}



    {% embed 'embed/app-content.twig' %}
        {% block content_body %}
            <div class="card text-center" style="">
                <div class="card-content">
                    <img class="card-img-top img-fluid" src="{{ product.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title" style="cursor: pointer; color: #ff8f00">{{ product.title }}</h4>
                        <div class="">
                            {{ product.description|raw }}
                        </div>

                        {#<div class="btn-group" role="group" aria-label="Basic example">#}
                            {#<span class="btn btn-outline-blue-grey">$159</span>#}
                            {#<button type="button" class="btn btn-outline-blue-grey">Shop Now <i class="icon-cart3"></i></button>#}
                        {#</div>#}
                    </div>
                </div>
            </div>

        {% endblock %}
    {% endembed %}



{% endblock %}




{% block js %}
    <script src="/content/themes/stack/assets/js/customized/catalog.product.js" type="text/javascript"></script>
{% endblock %}