{% extends "layout.twig" %}

{% block head %}
    <link href="/content/themes/stack/assets/css/bootstrap-touchspin.css" rel="stylesheet" type="text/css" media="all" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' %}
        {% block content_body %}
            <div id="vm_cart" v-pre>

                {#  Промокод  #}
                <div class="row pt-1" v-if="!shopcart_empty">
                    <div class="col-12" style="padding-left: 5px; padding-right: 5px">
                        <div class="card" style="margin-bottom: 0.475rem;">
                            <div class="card-content">
                                <div class="card-body" v-on:click="promoinit">
                                    <h3>Ввести промокод</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <cart-item
                        v-for="(item, index) in shopcart"
                        v-bind:cart_item="item"
                        v-bind:key="item.id"
                        v-bind:index="index"
                        v-bind:quantity="item.quantity"
                        v-on:quantity-inc="onQuantity(item.id, 'inc', index)"
                        v-on:quantity-dec="onQuantity(item.id, 'dec', index)"
                        v-on:remove="remove(index)">
                </cart-item>


                <div class="row mb-5" v-if="!shopcart_empty">
                    <div class="col-12" style="padding-left: 5px; padding-right: 5px">
                        <div class="card" style="margin-bottom: 0.475rem;">
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item border-0 pt-0">
                                            <span class="float-right">${ cost }</span>
                                            Стоимость
                                        </li>
                                        <li class="list-group-item border-0 pt-0">
                                            <span class="float-right">${ deliveryAmount }</span>
                                            Доставка
                                        </li>
                                        <li class="list-group-item border-top-2 pt-1 pb-0 border-bottom-0 border-left-0 border-right-0">
                                            <span class="float-right">${ totalAmount }</span>
                                            Итог
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-12 mb-1">
                                            <div class="form-group text-center ">
                                                <button class="btn btn-danger" v-on:click="pay" style="width: 100%;position: fixed;bottom: 65px;left: 0px;height: 59px;">
                                                    <span style="font-size: 29px;">КУПИТЬ</span></button>
                                                {#                                                <i class="fa fa-spinner fa-pulse fa-fw"></i>#}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="flexbox-container" id="no-checkout" style="height: 69vh;" v-if="shopcart_empty">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 p-0">
                            <div class="card-header bg-transparent border-0">
                                <h3 class="text-uppercase text-center">{{ translate('shop', 'cart_empty') }}</h3>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}
    <script src="/content/themes/stack/assets/js/customized/cart.js?{{ random() }}" type="text/javascript"></script>
{% endblock %}