{% extends "layout.twig" %}

{% block head %}
    <link href="/content/themes/stack/assets/css/bootstrap-touchspin.css" rel="stylesheet" type="text/css" media="all" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' %}
        {% block content_body %}
            <div id="vm_cart" v-pre>

                <div class="row pt-1">
                    <div class="col-12" style="padding-left: 5px; padding-right: 5px">
                        <div class="card" style="margin-bottom: 0.475rem;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h3>Ввести промокод</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <cart-item
                        v-for="(item, index) in shopcart"
                        v-bind:cart_item="item"
                        v-bind:key="item.id"
                        v-bind:index="index"
                        v-bind:quantity="item.quantity"
                        v-on:quantity-inc="onQuantity(item.id, 'inc', index)"
                        v-on:quantity-dec="onQuantity(item.id, 'dec', index)"
                        v-on:remove="remove(index)">
                </cart-item>


                <div class="row mb-5">
                    <div class="col-12" style="padding-left: 5px; padding-right: 5px">
                        <div class="card" style="margin-bottom: 0.475rem;">
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item border-0 pt-0">
                                            <span class="float-right">${ cost }</span>
                                            Стоимость
                                        </li>
                                        <li class="list-group-item border-0 pt-0">
                                            <span class="float-right">${ deliveryAmount }</span>
                                            Доставка
                                        </li>
                                        <li class="list-group-item border-top-2 pt-1 pb-0 border-bottom-0 border-left-0 border-right-0">
                                            <span class="float-right">${ totalAmount }</span>
                                            Итог
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-12 mb-1">
                                            <div class="form-group text-center ">
                                                <!-- Floating button Regular with text -->
                                                <button class="btn btn-danger" v-on:click="pay" style="width: 100%;position: fixed;bottom: 65px;left: 0px;height: 59px;">
                                                    <span style="font-size: 29px;">КУПИТЬ</span></button>
                                                {#                                                <i class="fa fa-spinner fa-pulse fa-fw"></i>#}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#                <div id="checkout" class="row match-height pt-2">#}






                {#                    <div class="col-12">#}
                {#                        <div class="card ">#}
                {#                            <div class="card-header">#}
                {#                                <h4 class="card-title">{{ HEADER_TITLE }}</h4>#}
                {#                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis font-medium-3"></i></a>#}
                {#                                <div class="heading-elements"></div>#}
                {#                            </div>#}
                {#                            <div class="card-content collapse show">#}
                {#                                <div class="card-body">#}

                {#                                    <div class="media-list media-bordered mb-4">#}

                {#                                        <div v-for="item in shopcart" class="card-deck">#}
                {#                                            <div class="media-left">#}

                {#                                                <div class="media-body">#}
                {#                                                    <h4 class="list-group-item-heading text-truncate font-size-base" >${item.title}</h4>#}
                {#                                                </div>#}
                {#                                                <div class="media-body mt-1 mb-1">#}
                {#                                                    <img class="media-object img-thumbnail img-xl mr-1" v-bind:src="item.image" alt="" style="min-width: 64px;">#}
                {#                                                </div>#}
                {#                                                <div class="media-body">#}

                {#                                                    <span>Цена</span>#}
                {#                                                    <del class="grey" style="color: #EC687A;">99$</del>#}
                {#                                                    <span class="text-left">text</span>#}

                {#                                                    <div class="media-list">#}
                {#                                                        <button class="btn btn-outline-primary float-left btn-sm" data-button-target="plus" style="width: 25px;height: 25px"><i class="fa fa-plus"></i></button>#}
                {#                                                        <button class="btn btn-outline-red float-left btn-sm ml-1" data-button-target="minus" style="width: 25px;height: 25px"><i class="fa fa-minus"></i></button>#}
                {#                                                        <button class="btn btn-outline-red float-right btn-sm" data-button-target="remove" style=" width: 25px;height: 25px;"><i class="fa fa-close"></i></button>#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                        </div>#}


                {#                                        <p class="lead">{{ translate('shop', 'total_due') }} </p>#}
                {#                                        <div class="table-responsive">#}
                {#                                            <table id="table-total" class="table">#}
                {#                                                <tbody>#}

                {#                                                </tbody>#}
                {#                                            </table>#}
                {#                                        </div>#}
                {#                                        <div id="invoice-footer">#}
                {#                                            <div class="row">#}
                {#                                                <div class="col-md-5 col-sm-12 text-center">#}
                {#                                                    <button type="button" id="create-order" class="btn btn-danger btn-lg my-1" data-lang-package="shop" data-lang-key="cart_btn_checkout"><i class="fa fa-"></i></button>#}
                {#                                                </div>#}

                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </div>#}

                {#                                <section class="flexbox-container" id="no-checkout" style="height: 69vh;">#}
                {#                                    <div class="col-12 d-flex align-items-center justify-content-center">#}
                {#                                        <div class="col-md-4 col-10 p-0">#}
                {#                                            <div class="card-header bg-transparent border-0">#}
                {#                                                <h3 class="text-uppercase text-center">{{ translate('shop', 'cart_empty') }}</h3>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </section>#}

                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}
    <script src="/content/themes/stack/assets/js/customized/cart.js" type="text/javascript"></script>
{% endblock %}