<link rel="apple-touch-icon" href="/content/themes/stack/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="/content/themes/stack/app-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" href="/content/themes/stack/app-assets/css/vendors.css">
<link rel="stylesheet" type="text/css" href="/content/themes/stack/app-assets/vendors/css/ui/dragula.min.css">
<link rel="stylesheet" type="text/css" href="/content/themes/stack/app-assets/vendors/css/extensions/toastr.css">
<link rel="stylesheet" type="text/css" href="/content/themes/stack/app-assets/vendors/css/extensions/sweetalert.css">
<!-- END VENDOR CSS-->

<!-- BEGIN STACK CSS-->
<link rel="stylesheet" type="text/css" href="/content/themes/stack/app-assets/css/app.css">
<!-- END STACK CSS-->

<!-- BEGIN Page Level CSS-->
<link rel="stylesheet" type="text/css" href="/content/themes/stack/app-assets/css/core/menu/menu-types/horizontal-menu.css">
<!-- END Page Level CSS-->

<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" href="/content/themes/stack/assets/css/style.css">
<!-- END Custom CSS-->

