



<!-- BEGIN VENDOR JS-->
<script src="//code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{#<script src="/content/themes/stack/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>#}
<!-- BEGIN VENDOR JS-->

<!-- BEGIN PAGE VENDOR JS-->
<script type="text/javascript" src="/content/themes/stack/app-assets/vendors/js/ui/jquery.sticky-kit.min.js"></script>
<script type="text/javascript" src="/content/themes/stack/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
<script src="/content/themes/stack/app-assets/vendors/js/extensions/dragula.min.js" type="text/javascript"></script>
<script src="/content/themes/stack/app-assets/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>
<script src="/content/themes/stack/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script><!-- END PAGE VENDOR JS-->

<!-- BEGIN STACK JS-->
{#<script src="/content/themes/stack/app-assets/js/core/app-menu.js" type="text/javascript"></script>#}
{#<script src="/content/themes/stack/app-assets/js/core/app.js" type="text/javascript"></script>#}
{#<script src="/content/themes/stack/app-assets/js/scripts/customizer.js" type="text/javascript"></script>#}
<!-- END STACK JS-->

<!-- BEGIN PAGE LEVEL JS-->
<script type="text/javascript" src="/content/themes/stack/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
{#<script src="/content/themes/stack/app-assets/js/scripts/cards/card-ecommerce.js" type="text/javascript"></script>#}
<!-- END PAGE LEVEL JS-->

<script src="/content/assets/Loc.js" type="text/javascript"></script>
<script src="/content/assets/LStorage.js" type="text/javascript"></script>
<script src="/content/assets/Url.js" type="text/javascript"></script>
<script src="/content/assets/Http.js" type="text/javascript"></script>

<script src="/content/assets/Cookie.js" type="text/javascript"></script>
<script src="/content/assets/LangPackage.js" type="text/javascript"></script>

<script src="/content/themes/stack/assets/js/customized/language-initialization.js" type="text/javascript"></script>
<script src="/content/themes/stack/assets/js/customized/main.js" type="text/javascript"></script>