{% extends "layout.twig" %}

{% block head %}{% endblock %}


{% block body %}
    {% embed 'embed/app-content.twig' with {"class": "content-body p-3"} %}
        {% block content_body %}

            <div class="col-12 p-0">
                <div class="card box-shadow-0 bg-transparent">

                    <style>
                        .turquoise {
                            color : #00b5b8 !important;
                        }
                    </style>
                    <div class="list-group font-medium-2">
                        {% for item in language %}
                        <a href="/language.set?lang={{ item.postfix }}&callback={{ callback }}" class="list-group-item list-group-item-action black" style="padding: 0.55rem 0.95rem; margin-bottom: 4px;">
                        <span class="float-right blue">
                          <i class=""></i>
                        </span>
                            {{ item.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block js %}
    <script>
        $('#nav-bar-main').hide();
    </script>
{% endblock %}






