<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <title>{{ HEADER_TITLE }}</title>
    <link rel="shortcut icon" href="">

    {% include 'css.twig' %}
    {% block head %}{% endblock %}

    <script src="/content/assets/node_modules/axios/dist/axios.js"></script>
    <script src="/content/assets/app/vue.js"></script>
    <script src="/content/assets/app/main.js"></script>

    <style>

        .navbar-top {
            width: 100%;
            height: auto;
            overflow: hidden;
            overflow-x: initial;
            white-space: nowrap;
            position: fixed;
            top: 0;
            padding: 0.4rem 0.4rem;
            background-color: #131d36;
            box-shadow: 0 0 13px 2px black;
            z-index: 1900;
        }


        .navbar-top div {
            display: inline-block;
            vertical-align: top;
            width: auto;
            height: 45px;
            /*background-color: #131d36;*/
            text-align: center;
            color: #ffffff;
            padding: 12px 12px;
            cursor: pointer;
            user-select: none;

        }

        .navbar-top div:hover {
            background: #f1f1f1;
            color: rgba(0, 0, 0, 0.73);
        }

        .navbar-top div.active {
            background-color: #d32f2f;
            color: white;

        }
    </style>
</head>
<body class="horizontal-layout 1-column  pace-done blank-page">

<div id="app">
    {% block body %}

        {% embed 'embed/app-content.twig' %}
            {% block content_body %}

            {% endblock %}
        {% endembed %}

    {% endblock %}

    {% embed 'embed/navbar-bottom.twig' %}
        {% block navbar_bottom %}
            {{ parent() }}
        {% endblock %}
    {% endembed %}
</div>

{# VUE #}
<script src="/content/themes/stack/components/vue-components.js"></script>
<script src="/content/assets/app/vue.js"></script>
<script src="/content/assets/app/main.js"></script>

{% include 'js.twig' %}

{% block js %}{% endblock %}

<script>
    +function () {
        let a = document.getElementById("nav-bar-main").getElementsByTagName("a");
        for (let i = 0; i < a.length; i++) {
            let href = a.item(i).getAttribute('href');
            if (href === location.pathname) {
                let class_name = a.item(i).className;
                a.item(i).className += class_name + " btn-outline-white";
            }
        }
    }()
</script>

</body>
</html>